## Cheat sheet easy
 
Este cheat sheet comprende los comandos basicos de pandas para aplicar data wrangling,
en ellos se presentan tanto las expresiones como ejemplos de su implemententación.

Este sheet se ira complementando secuencialmente, por ello algunas partes no estaran completas
al momento de ser subido.

### Importación de Bibliotecas

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Creación de elementos.

#### El metodo DataFrame() permite añadir una estructura, que es decodificada en un dataframe

In [18]:
df = pd.DataFrame({"A":[1,2,3,4], "B":[5,6,7,8]})

#### El metodo read_csv(), permite leer un csv desde una ruta, puede tambien ser una url

In [19]:
df = pd.read_csv("titanic.csv")

#### Mostramos el resultado del dataframe construido

In [20]:
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

### Transformaciones.

#### Melt permite descomponer el dataframe, basado en valores que pasemos a la función, el id_vars será el valor principal, y el values_vars el valor a descomponer

In [21]:
pd.melt(df, id_vars=['PassengerId'], value_vars=['Sex']).head()

   PassengerId variable   value
0            1      Sex    male
1            2      Sex  female
2            3      Sex  female
3            4      Sex  female
4            5      Sex    male

### Información del conjunto de datos.

#### Shape devuelve las dimensiones del dataframe, en formato de tupla, (cantidad de filas, cantidad de columnas)

In [22]:
df.shape

(891, 12)

#### dtypes, devuelve información del tipo de datos de cada una de las columnas, nos sirve para saber que datos procesar y cuales ya pueden ser procesados.
#### Recordemos que podemos procesar los datos numericos, los de tipo string debemos tratarlos para convertirlos en numericos.

In [23]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

#### columns, nos permite saber como estan nombradas las columnas, nos devuelve una estructura de tipo lista

In [24]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

#### nunique(), podemos verla como numero de uniques, nos da el número de valores unicos dentro de cada columna.

In [25]:
df.nunique()

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

#### info(), nos da información acerca de las columnas, como  cuantos valores no nulos existen, la cantidad de valores y el tipo de dato de la columna.

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB