## Cheat sheet easy
 
Este cheat sheet comprende los comandos basicos de pandas para aplicar data wrangling,
en ellos se presentan tanto las expresiones como ejemplos de su implemententación.

Este sheet se ira complementando secuencialmente, por ello algunas partes no estaran completas
al momento de ser subido.

### Importación de Bibliotecas

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Creación de elementos.

In [8]:
# Este metodo, permite leer un csv desde una ruta, puede tambien ser una url
df = pd.read_csv("titanic.csv")

# Este metodo permite añadir una estructura, que es decodificada en un dataframe
#df = pd.DataFrame({"A":[1,2,3,4], "B":[5,6,7,8]})

# Mostramos el resultado del dataframe construido
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

### Transformaciones

In [11]:
# Melt permite descomponer el dataframe, basado en valores que pasemos a la función
# el id_vars será el valor principal, y el values_vars el valor a descomponer
pd.melt(df, id_vars=['PassengerId'], value_vars=['Sex']).head()

   PassengerId variable   value
0            1      Sex    male
1            2      Sex  female
2            3      Sex  female
3            4      Sex  female
4            5      Sex    male